#header{
    background: #085073;
color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 10px 13px;
}
a{
    color: white;
}
 .page1{
    display: flex;
flex-direction: row;
justify-content: space-between;
} 

.page2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

#myself{      
    width: 400px;
    height: 200px;
    display: inline-block;
    background: #085073;
color: white;
border-style: solid;
display: flex;
    flex-direction: row;
    justify-content: space-between; 
 
}
#bg2{
    
    color:#93278f ;
}
#form{
   margin-left: 80%; 
}
h5{
    color: white;
    font-size: large;
    font-weight: bold;
    padding-top: 70px;
    padding-left: 10px;
}
.form{
    float: right;
}
@media screen and (min-width:776px) {
    body{
        background-color: wheat;
    }
}
.animation-overlay{
    animation: overlay 10s  forwards;
    
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-2em);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes overlay {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* #header{

    transition: all 2s linear;
}

@keyframes move {
    0%{
        color: aqua;
        transform: translateX(150px);
    }
    100%{
color: red;
transform: translateX(150px);
    }
} */