#header{
    background: #085073;
color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 10px 13px;
}
a{
    color: white;
}
.page1{
    display: flex;
flex-direction: row;
justify-content: space-between;
}
.page2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
#myself{
    width: 400px;
    height: 200px;
    display: inline-block;
    background: #085073;
color: white;
border-style: solid;
display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bg2{
    
    color:#93278f ;
}
#form{
   margin-left: 80%; 
}


/* .intro{
    background-color: #085073;
    color: white;
}
a{
    color: white;
}
.myself{
    width: 400px;
    height: 200px;
    display: inline-block;
    background: #085073;
color: white;
border-style: solid;
}
h2{
    color: #93278F;
    font-size: large;
    font-weight: bold;
}
h4{
color: #93278F;
font-weight: bold;
font-size: large;
}
#form{
    
}
#names{
    width: 60px;
    height: 30px;
    display: inline-block;
    background: #93278F;
   
}
#num{
    width: 80px;
    height: 30px;
    display: inline-block;
    background: #93278F;
   
}
#res{
    width: 80px;
    height: 30px;
    display: inline-block;
    background: #93278F;
   
}
h5{
    color: white;
    font-size: larger;
    font-weight: 400px;
    padding-top: 50px;
    padding-left: 20px;
    /*margin-top: 400%;
    margin-left: 800px;*/
    
/* }
h6{
    background-color: #085073;
      color: white;
      align-content: center;
} */ 