* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Navigation bar */

.topnav {
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 98.04;
    background-color: #085073;
    padding: 20px;
    top: -18px;

}

.topnav li {
    color: #ffffff;
    list-style-type: none;
    text-align: left;
    display: inline;
    padding: 15px;
    font: 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.float {
    float: right;
}

/* Photo Section */

#myphoto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2.5%;
    width: 100%;
    margin-top: 7%;
}
.outer-image {
    width: 500px;
    height: 500px;
}
.block-image-display {
    width: 450px;
    height: 450px;
}

.outer-image .block-image-display {
    border-radius: 50%;
    background-color: #93278F1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url(../assets/dawn.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.hello {
    width: 600px;
    height: 541px;
    background-color: #085073;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello-text {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #ffffff;
}


/* The Background Header */

.bg-section {
    padding: 7.5% 5% 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-description-box {
    width: 50%;
    height: 750px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: #085073;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-description-text {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
}

.bg-header-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
       
}

.bg-header-text {
    text-transform: uppercase;
    font-size: 100px;
    color: #93278F;
    font-weight: 900;
    line-height: 1.0em;
}

.hobbies-heading {
    color: #93278F;
    text-align: center;
    font-size: 20px;
    
}


/* Hobbies  */
.hobbies-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
 
}

.container {
    padding: 2px 16px;
}

.card img {
    width: 100%;

}


/* Contact area */
.contact-heading {
    color: rebeccapurple;
    text-align: center;
    font-size: 25px;
    
}
h5 {
    background-color: #0850735C;
    color: #085073;
    width: 45%;
    height: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    color: lightslategray;
    margin-left: 15%;
}

.fa {
    padding: 10px;
    font-size: 20px;
    margin: 20px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-facebook, .fa-twitter, .fa-instagram, .fa-envelope {
    background: #f1d9f1;
    color: #93278F;
  }


  /* Contact form */

  .contact-heading{
      color: #93278F;
  }
  .input-form {
      border: 3px solid  #93278F;
      border-radius: 10px;
      width: 50%;

  }
  .text-input {
      display: block;
      width: 90%;
      font-size: 20px;
      padding: 10px 0 10px 20px ;
  }

  textarea {
      display: block;
      width: 90%;
      overflow: hidden;
      margin-bottom: 20px;
  }
button {
      padding: 20px;
      background-color: #93278F;
      color: white;
      font-size: 25px;
      border: none;
      text-align: center;
  }
  
footer {
    position: relative;
    left: 0%;
    right: 0%;
    background-color: #085073;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}