*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;                                            
}

.header-section{
    background-color: #085073;
}
#personal-brand, .navigation-link {
    font-size: 25px;
    font-weight: 700;
    color: white;
    line-height: 33.25px;
}
.navigation-menu{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-links-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.navigation-link-block{
    padding: 0 40px;
}